body {
    color: #1D2E4C;
    font-family: "Trebuchet MS", sans-serif;
}

main {
    background-color: #F8F9FB;
    padding-top: 20px;
    padding-bottom: 20px;
}

img:hover {
    filter: none;
}

tr:nth-child(odd) {
    background-color: #F8F9FB; /* фон нечетных строк */
}

table {
    border-collapse: collapse;
    border: 1px solid grey;

}

/* границы ячеек первого ряда таблицы */
th {
    border: 1px solid grey;
}

/* границы ячеек тела таблицы */
td {
    border: 1px solid grey;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}